<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image:src" content="">
    <meta property="og:image" content="">
    <meta name="twitter:title" content="Home">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo5.png" type="image/x-icon">
    <meta name="description" content="">
    
    <title>Azim Islam's Portfolio</title>
    <link rel="stylesheet" href="{% static 'main_site/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_site/assets/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_site/assets/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_site/assets/parallax/jarallax.css' %}">
    
    <link rel="stylesheet" href="{% static 'main_site/assets/theme/css/style.css' %}">
  
    <link rel="preload" as="style" href="{% static 'main_site/assets/mobirise/css/mbr-additional.css' %}"><link rel="stylesheet" href="{% static 'main_site/assets/mobirise/css/mbr-additional.css' %}" type="text/css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet"> 
    
    
  </head>
  <body>
  
  <section data-bs-version="5.1" class="header3 cid-azm mbr-fullscreen mbr-parallax-background" id="header3-0">

    

    
    <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Hello I'm</strong><br><strong>Azim</strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-7">Problem Solver | Computer Science &amp; Engineering Student</p>
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="header14 cid-azm10 mbr-fullscreen mbr-parallax-background" id="header14-4">

    

    
    <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(0, 0, 0);"></div>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 image-wrapper">
                <img src="/static/main_site/assets/images/278129553-459788879251164-6028931089559121789-n.jpg" alt="">
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2">
                        <strong>Programming Enthusiast</strong></h1>
                    <p class="mbr-text mbr-fonts-style display-7">Proficient In<br><strong>Python&nbsp; |&nbsp; Java&nbsp; |&nbsp; C&nbsp; |&nbsp; RUST</strong></p>
                    <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="https://github.com/Azim-Islam" target="_blank"><span class="mobi-mbri mobi-mbri-github mbr-iconfont mbr-iconfont-btn"></span>Explore my GITHUB!</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="pricing1 cid-azm2" id="pricing1-c">

    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h6 class="card-title mbr-fonts-style mb-4 display-5">
                            <strong>CODEFORCES</strong></h6>
                        <ul class="list mbr-fonts-style mb-5 display-7">Regular contest participant in CodeForces</ul>
                    </div>
                    <div class="mbr-section-btn"><a class="btn btn-secondary display-4" href="https://codeforces.com/profile/OGgyR" target="_blank">Learn more</a></div>
                </div>
            </div>

            <div class="card col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h4 class="card-title mb-4 mbr-fonts-style display-5">
                            <strong>HACKRRANK</strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-5 display-7">&nbsp;Solved over 500 offline problems<br>
                        </p>
                    </div>
                    <div class="mbr-section-btn"><a class="btn btn-success display-4" href="https://www.hackerrank.com/OGgyR_">Learn more</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features3 cid-azm3" id="features3-6">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Projects</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Few of the projects that I have made till now.&nbsp;</h5>
        </div>
        <div class="row mt-4">
            
            
            <div class="item features-image сol-12 col-md-6 col-lg-4 active">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/static/main_site/assets/images/features3.jpg" alt="" data-slide-to="1" data-bs-slide-to="2">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>Python SQLite CRUD WebApp</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">A web based <strong>SQL</strong> query engine written in <strong>Python</strong>.<br><br></p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://github.com/Azim-Islam/python-SQLite-CRUD-WebApp" class="btn btn-primary item-btn display-7" target="_blank"><span class="mobi-mbri mobi-mbri-github mbr-iconfont mbr-iconfont-btn"></span>GITHUB</a></div>
                </div>
            </div><div class="item features-image сol-12 col-md-6 col-lg-4 active">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/static/main_site/assets/images/features3.jpg" alt="" data-slide-to="2" data-bs-slide-to="3">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>UAP BAZAR</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">A GUI desktop application for a e-commerce organization, written in <strong>Java</strong>, built with <strong>javaFX </strong>library.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://github.com/Azim-Islam/UAP-Bazar-JavaFX-Application" class="btn btn-primary item-btn display-7" target="_blank"><span class="mobi-mbri mobi-mbri-github mbr-iconfont mbr-iconfont-btn"></span>GITHUB</a></div>
                </div>
            </div><div class="item features-image сol-12 col-md-6 col-lg-4 active">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/static/main_site/assets/images/features3.jpg" alt="" data-slide-to="2" data-bs-slide-to="3">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>Coin-Change Dynamic Programming Web App</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">A web app to show the result of simulated coin-change problem.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://github.com/Azim-Islam/Coin-Change-Simulation-App#coin-change-dynamic-programming-bottom-up-web-app" class="btn btn-primary item-btn display-7" target="_blank"><span class="mobi-mbri mobi-mbri-github mbr-iconfont mbr-iconfont-btn"></span>GITHUB</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content4 cid-azm4" id="content4-h">
    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>This Website is Built With</strong></h3>
                
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="clients2 cid-azm5" id="clients2-g">

    

    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="/static/main_site/assets/images/django-3.webp" alt="">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Django</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="/static/main_site/assets/images/toppng.com-bootstrap-featured-image-bootstrap-3-logo-1-1600x1331.png" alt="">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>BootStrap</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features9 cid-t5pydVPxPx" id="features10-m">
    <!---->
    

    
    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style mb-0 display-2"><strong>Achievements</strong></h3>
            
        </div>
        <div class="row mt-4">
            <div class="card col-12">
                <div class="card-wrapper">
                    <div class="top-line row">
                        <div class="col">
                            <h4 class="card-title mbr-fonts-style display-5"><strong>UAP Intra University Programming Contest</strong></h4>
                        </div>
                        <div class="col-auto">
                            <p class="price mbr-fonts-style display-1"><strong>🏆</strong></p>
                        </div>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7"><strong>Champion </strong>in Senior Division.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12">
                <div class="card-wrapper">
                    <div class="top-line row">
                        <div class="col">
                            <h4 class="card-title mbr-fonts-style display-5"><strong>UAP Intra University Capture The Flag Contest</strong></h4>
                        </div>
                        <div class="col-auto">
                            <p class="price mbr-fonts-style display-1">🏆</p>
                        </div>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7"><strong>
                            Champion </strong>among 31 teams.</p>
                    </div>
                </div>
            </div>
            
            
            
            
            
            
            
            
            
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="share3 cid-t5mG0n9DT4" id="share3-j">
    
     
    
    
    

    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                
                <div class="social-list align-center">
                   
                    <a class="iconfont-wrapper bg-facebook m-2 " target="_blank" href="https://www.facebook.com/ANHW.ogg/">
                            <span class="socicon-facebook socicon"></span>
                        </a>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts2 cid-azm7" id="contacts2-l">
    <!---->
    

    
    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-5">
                <strong>Contacts</strong>
            </h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-phone mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-4">
                            <strong>Phone</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">+880 1913300240</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-4">
                            <strong>Email</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">azimIslam5@gmail.com</p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>
<section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 0px;"><a href="" style="flex: 1 1;height: 4rem;position: absolute;width: 0%;z-index: 1;"><img alt="" style="height: 0px;" src=""></a><p style="margin: 0px;text-align: center;" class="display-7"></p><a style="z-index:1" href=""></a></section><script src="/static/main_site/assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="/static/main_site/assets/parallax/jarallax.js"></script>  <script src="/static/main_site/assets/smoothscroll/smooth-scroll.js"></script>    <script src="/static/main_site/assets/ytplayer/index.js"></script>  <script src="/static/main_site/assets/theme/js/script.js"></script>  
  
  
  <input name="animation" type="hidden">
  </body>
</html>